.About_contain{
    display: flex;
    background-color: black;
    color: #ffff;
}
.About_content{
    display: flex;
    width: 90%;
    align-content: center;  
}

.About_intrests{  
    border: 1px solid #ffff; 
    width: 35%;
    margin: 0% auto;
}
.About_intrests_items{
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2%;
}
.About_intrests_item{
    margin: 10px;
    width: 39%;
}
.About_Title{
    text-align: center;
}
.About_image{
    display: block;
    margin-left: auto;
    margin-right: auto;
}