.About_contain{
    display: flex;
    background-color: black;
    color: #ffff;
}
.About_content{
    display: flex;
    width: 90%;
    align-content: center;  
}
.About_wrap{
    display: flex;
}
.About_intrests{  
    border: 1px solid #ffff; 
    margin: 10px; 
    
}
.About_intrests_items{
width: 300px;
display:flex;
flex-wrap: wrap;
}
.About_intrests_item{
    margin: 10px;
}
.About_Title{
    text-align: center;
}
.About_image{
    display: block;
    margin-left: auto;
    margin-right: auto;
}