.Reff_contain{
    display: flex;
    background-color: black;
    color: #ffff;
    
}
.Reff_content{
    margin: 0 auto;
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1%;
}
.fader{
    background: black;
    opacity: 0;
  }
.Reff_card{
    animation-name: fadein
}
.card{
  width:25%;
}
.summery{
  display: flex;
  gap: 5%;
  align-items: center;
}
li::before {
    display: block;
    content: "";
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 140px;
  }
.Reff_title{
    width: 90%;  
}
@keyframes fadeIn {
    from{
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }