.Media_contain{
    display: flex;
    background-color: black;
    color: #ffff;
    
}
.Media_content{
    width: 90%;
}
.videos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.vids{
    height: 265px;
    width: 265px;
}
.Media_title{
    text-align: center;
}